<%# Renders a full-width empty state link styled as a dashed card %>
<%= link_to(href, class: "relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-600 dark:border-white/15 dark:hover:border-white/25 dark:focus:outline-indigo-500") do %>
  <span class="mt-2 block text-sm font-semibold text-gray-900 dark:text-white"><%= label %></span>
<% end %>

