<div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
  <h1 class="mb-2">Welcome to QuantifyAI</h1>
  <%= link_to "Click here to get started", new_user_registration_path, class: "btn btn-primary" %>
</div>
